<!-- shows the list of stocks a user has added -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
  <title><%= user.name %>'s stock</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="container">
<div class="stockHeader">
  <h1><%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %>'s Stock List</h1>
  <p class="subtitle">View and manage your stock portfolio</p>
</div>


  <% if (user.stocks.length > 0) { %>
    <div class="table-container">
    <table>
      <thead>
        <tr id="tableHeaders">
          <th>Ticker Symbol</th>
          <th>Company Name</th>
          <th>Profit/Loss</th>
          <th>Edit</th>
        <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% user.stocks.forEach(item => { %>
          <tr>
            <td class="stock-symbol"><%= item.tickerSymbol %></td>
            <td class="company-name">
                <%= item.companyName %>
            </td>
            <td class="price">
                $ <%= (item.currentPrice - item.purchasePrice).toFixed(2) %>
            </td>
            <td>
                 <a href="/stocks/<%= item._id %>/edit"  class="btn btn-edit">Edit</a>
            </td>
            <td>
                <form action="/stocks/<%= item._id %>?_method=DELETE" method="POST">
                    <button  class="btn btn-delete" type="submit">Delete</button>
                </form>
            </td>
            
            </tr>
            <% }) %>
                </tbody>
                </table>
                </div>
  <% } else { %>
    <p>This user has no stock items yet.</p>
  <% } %>
  </div>
</body>

</html>